<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{{ url_for('static', path='/styles.css')}}" rel="FastAPI">
</head>
<body>
    <h1>Welcome to my website</h1>
    <img src="{{ url_for('static', path='/nasser.jpeg')}}" alt="FastAPI">
    {% if firstname %}
    <p>the name is {{ firstname }}<span>--</span> {{ lastname }}</p>
    {% else %}
    <h1>No Name</h1>
    {% endif %}
    <hr>
    <form method="POST">
        <label for ="firstname">First Name:</label>
        <input type="text" name="firstname"><br>
        <label for ="lastname">Last Name:</label>
        <input type="text" name="lastname"><br>
        <label for ="Details">User Details:</label>
        <input type="text" name="details"><br>
        <input type="submit" value="submit">
    </form>
</body>
</html>